<style>
	.table-cell
	{
		height:100%;
	}
	.table-cell .event
	{
		padding:0px 5px;
		line-height: 18px;
		height: 20px;
		overflow:hidden;
		font-size:12px;
	}
	.table-cell .event + .tooltip
	{
		position:absolute;
	}
</style>
<div class="btn-group btn-group-justified">
{{#each myGoals as |goal|}}
<a draggable='true' data-id={{goal.id}} class='event btn btn-info' data-container='body' title={{goal.content}} >{{goal.content}}</a>
{{/each}}
</div>
