<style>
	#statement
	{
		height:100%;
		outline-color: #2F2F2F;
	}
	.mce-edit-focus
	{
		outline-style:inset;
	}
	.editer-view
	{
		height:100%;
	}
	.toolbar-bottom .mce-floatpanel
	{
		bottom: 0px;
		position: absolute;
		top: auto !important;
		height:auto;
	}
	#toolbar
	{
		position:fixed;
		min-width:1px;
		min-height:1px;
	}
</style>
{{tinymce-editor value=model.statement onBlur=(action 'tinymceChanged')}}
<div id="toolbar"></div>
